extends layout.pug

block content

  article.portfolio-intro

    h1 My Internet Creations 

    p Just a few of the projects I've created. Each project showcases a different skill in my repertoire of coding skills.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='')
            h5= project.project_name
